---
import CursosCard from 'src/components/CursosCard.astro';
import ExperienceTimeline from 'src/components/ExperienceTimeline.astro';
import PageHeader from 'src/components/PageHeader.astro';

import cursoBasicoAngular from 'src/assets/cursos/cursoIntroAngular.jpg';
import cursoBasicoNest from 'src/assets/cursos/cursoIntroNest.jpg';
import cursoClinCodeySolid from 'src/assets/cursos/principiosSolidyClinCode.jpg';

const chipText = 'MORE ABOUT Arturo Carrillo Jimenez';
const pageTitle = 'Experiencia y Formación';

const experience = [
	{
		title: 'Becario en desarrollo de software',
		description:
			'Durante mi estancia en Viewnext, subsidiaria del grupo IBM, he logrado fortalecer mis habilidades técnicas y colaborar en proyectos innovadores. En este periodo, desarrolle StyleHub, una plataforma de comercio electrónico asignada como proyecto formativo, haciendo uso de tecnologías como Angular y NestJS. Además, participé en la creación de un agente de inteligencia artificial destinado a optimizar el acceso de información interdepartamental, necesario para agilizar y optimizarel acceso a datos.',
		company: 'Viewnext Almería',
		dateInit: new Date(Date.parse('2025-03-2')),
		dateEnd: new Date(Date.parse('2025-06-2')),
		clips: ['Trabajo en equipo', 'nestjs', 'angular', 'git', 'tailwind'],
	},
	{
		title: 'Becario en formación',
		description:
			'Realicé un período de prácticas duales en el que me enfoqué en el desarrollo Full Stack utilizando Laravel y Vue.js, enfocándome en el desarrollo de una Api Rest y el aprendizaje de la metodología de trabajo de un framework de front',
		company: 'Alborada IT Software Almería',
		dateInit: new Date(Date.parse('2024-05-2')),
		dateEnd: new Date(Date.parse('2024-06-2')),
		clips: ['Trabajo autónomo', 'teletrabajo', 'laravel', 'vue', 'git', 'bootstrap'],
	},
];

const formacion = [
	{
		title: 'Ciclo formativo superior de Desarrollo Web',
		description:
			'Estuve trabajando con tecnologías con MySQL, PostgreSQL, MongoDB, Java y la programación orientada a objetos.Ademas utilicé herramientas como GitHub y DockerHub para el control de versiones y despliegue. Por ultimo, trabajé con frameworks como Angular, FastAPI y Express para el desarrollo full stack. ',
		company: 'IES Celia Viñas Almería',
		dateInit: new Date(Date.parse('2023-09-2')),
		dateEnd: new Date(Date.parse('2025-06-2')),
		clips: ['Desarrollo web', 'java', 'sql', 'git', 'github actions'],
	},
	{
		title: 'Ciclo formativo medio de Sistemas Microinformáticos y Redes',
		company: 'IES Sierra Nevada Fiñana (Almería)',
		dateInit: new Date(Date.parse('2023-09-2')),
		dateEnd: new Date(Date.parse('2025-06-2')),
		clips: ['sapote técnico', 'css', 'html', 'ubuntu'],
	},
];

const cursos = [
	{
		title: 'Angular',
		image: cursoBasicoAngular,
		url: 'https://www.udemy.com/course/angular-fernando-herrera/',
	},
	{
		title: 'NestJs',
		image: cursoBasicoNest,
		url: 'https://www.udemy.com/course/nest-framework/',
	},
	{
		title: 'Clean Code y Principios solid',
		image: cursoClinCodeySolid,
		url: 'https://www.udemy.com/course/solid-clean/',
	},
];
---

<section id="about" class="contentSection">
	<div class="flex flex-col gap-12">
		<PageHeader title={pageTitle} chipText={chipText}>
			<p slot="description">
				A lo largo de mi desarrollo profesional, he participado en diversos programas de formación y experiencia
				profesional que han reforzado mis competencias técnicas y prácticas.
			</p>
		</PageHeader>
		<ExperienceTimeline experience={experience} title="Experiencia" />
		<ExperienceTimeline experience={formacion} title="Formación" />
		<h2 class="text-2xl lg:text-4xl">Cursos</h2>
		<div class="grid md:grid-cols-2 gap-4">
			{cursos.map(({ title, image, url }) => <CursosCard title={title} image={image} url={url} />)}
		</div>
	</div>
</section>
