---
import PageHeader from 'src/components/PageHeader.astro';
import ProjectCard from 'src/components/ProjectCard.astro';

import stylehubHome from 'src/assets/stylehub/home.png';
import stylehubProducts from 'src/assets/stylehub/products.png';
import stylehubProductDetail from 'src/assets/stylehub/detailProduct.png';
import stylehubProductCart from 'src/assets/stylehub/productsCart.png';
import stylehubStripe from 'src/assets/stylehub/stripe.png';
import stylehubAdminPanel from 'src/assets/stylehub/admin-panel.png';

const chipText = 'PROYECTOS';
const pageTitle = 'PROYECTOS DESTACADOS';

const projects = [
	{
		index: '01',
		title: 'StyleHub',
		chips: ['NEST.JS', 'ANGULAR', 'POSTGRESQL', 'TAILWIND', 'DAISY UI', 'GITHUB ACTION', 'DOCKER'],
		role: 'Fullstack',
		images: [
			stylehubHome,
			stylehubProducts,
			stylehubProductDetail,
			stylehubProductCart,
			stylehubStripe,
			stylehubAdminPanel,
		],
		urls: [
			{ name: 'VIEW', url: 'https://stylehub-bgor.onrender.com/products' },
			{ name: 'FRONT', url: 'https://github.com/ArturoCarrilloJimenez/StyleHub-Front-Angular' },
			{ name: 'BACK', url: 'https://github.com/ArturoCarrilloJimenez/StyleHub-Backend-Nest' },
		],
	},
];
---

<section id="projects" class="contentSection">
	<div class="flex flex-col gap-12">
		<PageHeader title={pageTitle} chipText={chipText}>
			<p slot="description">
				Estos son algunos de mis proyectos que reflejan mi compromiso con la calidad, la eficiencia y la innovación
				tecnológica. Cada uno de ellos ha sido una oportunidad para aplicar y perfeccionar mis habilidades en el
				desarrollo full stack, contribuyendo a soluciones que generan valor real.
			</p>
		</PageHeader>
		<div class="flex flex-col gap-8 lg:gap-32">
			{
				projects.map(({ index, title, chips, role, images, urls }) => (
					<ProjectCard index={index} projectTitle={title} chips={chips} images={images} role={role} urls={urls} />
				))
			}
		</div>
	</div>
</section>
