---
import PageHeader from 'src/components/PageHeader.astro';
import ProjectCard from 'src/components/ProjectCard.astro';

import stylehubHome from 'src/assets/stylehub/home.png';
import stylehubProducts from 'src/assets/stylehub/products.png';
import stylehubProductDetail from 'src/assets/stylehub/detailProduct.png';
import stylehubProductCart from 'src/assets/stylehub/productsCart.png';
import stylehubStripe from 'src/assets/stylehub/stripe.png';
import stylehubAdminPanel from 'src/assets/stylehub/admin-panel.png';

const chipText = 'PROYECTOS';
const pageTitle = 'PROYECTOS DESTACADOS';

const projects = [
	{
		index: '01',
		title: 'StyleHub',
		chips: ['NEST.JS', 'ANGULAR', 'POSTGRESQL', 'TAILWIND', 'GITHUB ACTION', 'DOCKER'],
		role: 'Fullstack',
		images: [
			stylehubHome,
			stylehubProducts,
			stylehubProductDetail,
			stylehubProductCart,
			stylehubStripe,
			stylehubAdminPanel,
		],
		urls: [
			{ name: 'VIEW', url: 'https://stylehub-bgor.onrender.com/products' },
			{ name: 'FRONT', url: 'https://github.com/ArturoCarrilloJimenez/StyleHub-Front-Angular' },
			{ name: 'BACK', url: 'https://github.com/ArturoCarrilloJimenez/StyleHub-Backend-Nest' },
		],
		description:
			'StyleHub es un <strong>e-commerce</strong> desarrollado con el objetivo de profundizar en tecnolog铆as modernas del stack JavaScript.</br></br><strong>ю拆梆火拣桂拣疵 娥桂娥别:</strong> </br><strong>筐拣火拆火</strong>: Angular, TailwindCSS, DaisyUI</br><strong>梆葛拆火</strong>: NestJS, Node.js, PostgreSQL, Supabase</br><strong>Servicios externos</strong>: Stripe</br><strong>拆金</strong>: GitHub Actions para CI/CD, despliegue automatizado</br></br><strong>火梆娥拣火拆 金筐娥火梆娥金桂拆:</strong></br>Visualizaci贸n y filtrado de productos</br>Carrito persistente asociado al usuario</br>Flujo de compra seguro con pasarela Stripe completamente integrada</br>Navegaci贸n fluida y dise帽o responsive',
	},
];
---

<section id="projects" class="contentSection">
	<div class="flex flex-col gap-12">
		<PageHeader title={pageTitle} chipText={chipText}>
			<p slot="description">
				Estos son algunos de mis proyectos que reflejan mi compromiso con la calidad, la eficiencia y la innovaci贸n
				tecnol贸gica. Cada uno de ellos ha sido una oportunidad para aplicar y perfeccionar mis habilidades en el
				desarrollo full stack, contribuyendo a soluciones que generan valor real.
			</p>
		</PageHeader>
		<div class="flex flex-col gap-8 lg:gap-32">
			{
				projects.map(({ index, title, chips, description, images, urls }) => (
					<ProjectCard
						index={index}
						projectTitle={title}
						chips={chips}
						images={images}
						urls={urls}
						description={description}
					/>
				))
			}
		</div>
	</div>
</section>
